<div class='row'>
  <div class="container">
    <div class="col-md-4">
      Welcome to the Chirp Application
      <%= link_to "Sign Up Now!", new_user_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
</div>